<template>
        <small v-text="formatted"></small>
</template>

<script>
    export default {
        props: ['employeedata'],
        mounted() {
        },
        data() {
            return {
                message: 'Current Time:',
                currentTime: null,
                formatted: null
            };
        },
        methods: {
            updateCurrentTime() {
                var split = this.employeedata.updated_at.split(" ");
                this.timestamp = moment(split[1],'HH:mm:ss')
                this.currentTime = moment.duration(moment().diff(this.timestamp))
                this.formatted = moment.utc(this.currentTime.asMilliseconds()).format("HH:mm:ss")
            }
        },
        created() {
            this.currentTime = moment().format('LTS');
            setInterval(() => this.updateCurrentTime(), 1 * 1000);
        }
    }
</script>
