<template>
    <div class="container">
        <form class="form-signin" method="post" action="/terminal/changeEmployee">
            <h1 class="h3 mb-3 text-center">Please sign in below</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="hidden" name="_token" :value="csrf">
            <input type="hidden" id="currentEmployee" name="CurrentEmployee" v-bind:value="currentemployee.id">
            <div class="form-group">

                <label for="exampleFormControlSelect1">Employee</label>
                <select name="newEmployee" class="form-control" id="">
                    <option v-for="Current in TerminalEmployees" v-bind:value="Current.id">
                        {{ Current.first_name }} {{ Current.surname}}
                    </option>
                </select>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
</template>

<script>
    export default {
        props: ['currentemployee'],
        data() {
            return {
                TerminalEmployees: this.TerminalEmployees,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        },
        created() {
            this.getRecordData();
            setInterval(function () {
                this.getRecordData();
            }.bind(this), 50000);

        },
        methods: {
            getRecordData() {
                window.axios.get('api/v1/terminal/login')
                    .then((response) => {
                        this.TerminalEmployees = response.data;
                    })
                    .catch((error) => {
                            if (error.response) {
                                console.log(error.response);
                            } else {
                                console.log('Error', error.message);
                            }
                            console.log(error.config);
                        }
                    );
            }
        },
        mounted() {
        }
    }

</script>
