<template>
    <footer class="footer ">
        <div class="alert alert-success display-4" role="alert"><Strong></Strong> {{this.terminalRecords.message}}
        </div>
    </footer>
</template>

<script>
    export default {
        props: ['terminalData'],
        data() {
            return {
                terminalRecords: this.terminalRecords
            }
        },
        created() {
            this.getRecordData();
            setInterval(function () {
                this.getRecordData();
            }.bind(this), 300000);
        },
        methods:{
            getRecordData(){
                window.axios.get('api/v1/terminal/data/message/' + this.terminalData.id)
                    .then((response) => {
                        this.terminalRecords = response.data;
                    })
                    .catch((error) => {
                            if (error.response) {
                                console.log(error.response);
                            } else {
                                console.log('Error', error.message);
                            }
                            console.log(error.config);
                        }
                    );
            }
        },
        mounted() {
        }
    }

</script>
