<template>
    <div class="card-body">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><br>
                     <br>
                     </span><br>
                    <span class="h2">{{ terminalRecords['shots']}}</span><br>
                    <span
                            class="text-uppercase text-muted h6">Shots</span>
                </p>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><br>
                     <br>
                     </span><br>
                    <span class="h2">{{ terminalRecords['hourShot']}}</span><br>
                    <span
                            class="text-uppercase text-muted h6">Shots Last Hour</span>
                </p>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><br>
                     <br>
                     </span><br>
                    <span class="h2">{{ terminalRecords['scrap']}}</span><br>
                    <span
                            class="text-uppercase text-muted h6">Scrap</span>
                </p>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><br>
                     </span><br>
                    <span class="h2">{{ terminalRecords['hourScrap']}}</span><br>
                    <span class="text-uppercase text-muted h6">Scrap Last hour</span>
                </p>
            </div>

            <div v-if="terminalRecords['heats'] == 1"  class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><i
                        class="fa fa-circle text-success  fa-stack-2x"></i><br>
                     <br>
                     </span><br>
                    <span class="h2">On</span><br>
                    <span
                            class="text-uppercase text-muted h6">Heats</span>
                </p>
            </div>

            <div v-else class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><i
                        class="fa fa-circle text-red fa-stack-2x"></i><br>
                     <br>
                     </span><br>
                    <span class="h2">Off</span><br>
                    <span
                            class="text-uppercase text-muted h6">Heats</span>
                </p>
            </div>

            <div v-if="terminalRecords['pumps'] == 1"  class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><i
                        class="fa fa-circle text-success fa-stack-2x"></i><br>
                     <br>
                     </span><br>
                    <span class="h2">On</span><br>
                    <span
                            class="text-uppercase text-muted h6">Pumps</span>
                </p>
            </div>

            <div v-else class="col-6 col-sm-4 col-lg-2">
                <p class="text-center"><span class="fa-stack"><i
                        class="fa fa-circle text-red fa-stack-2x"></i><br>
                     <br>
                     </span><br>
                    <span class="h2">Off</span><br>
                    <span
                            class="text-uppercase text-muted h6">Pumps</span>
                </p>
            </div>

        </div>

        <div class="modal fade" id="swipeModel" tabindex="-1" role="dialog" aria-labelledby="swipeModel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="swipeModel">Switch Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        fcf
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['terminalData'],
        data() {
            return {
                terminalRecords: this.terminalRecords,
                terminalSwipe: null
            }
        },
        created() {
            this.getRecordData();
            setInterval(function () {
                this.getRecordData();
            }.bind(this), 10000);
        },
        methods:{
            getRecordData(){
                window.axios.get('api/v1/terminal/data/' + this.terminalData.id)
                    .then((response) => {
                        this.terminalRecords = response.data;
                    })
                    .catch((error) => {
                            if (error.response) {
                                console.log(error.response);
                            } else {
                                console.log('Error', error.message);
                            }
                            console.log(error.config);
                        }
                    );
            },
        },
        mounted() {
        }
    }

</script>
