<template>
        <small v-text="currentTime"></small>
</template>

<script>
    export default {
        mounted() {
        },
        data() {
            return {
                message: 'Current Time:',
                currentTime: null
            };
        },
        methods: {
            updateCurrentTime() {
                this.currentTime = moment().format('LTS');
            }
        },
        created() {
            this.currentTime = moment().format('LTS');
            setInterval(() => this.updateCurrentTime(), 1 * 1000);
        }
    }
</script>
